name: Frontend CI/CD

on:
  push:
    branches:
      - "main"
    paths:
      - "fe/**"
      - ".github/workflows/frontend_cicd.yml"
  workflow_dispatch:

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          docker build --platform linux/amd64 -t ${{ secrets.DOCKER_USERNAME }}/aihkt-fe:latest -f fe/Dockerfile fe/
          docker push ${{ secrets.DOCKER_USERNAME }}/aihkt-fe:latest

  deploy:
    needs: build_and_push
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Prepare SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 3.36.113.95 >> ~/.ssh/known_hosts

      - name: Deploy to EC2 via docker image
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@3.36.113.95 << 'SSH_EOF'
          docker pull ${{ secrets.DOCKER_USERNAME }}/aihkt-fe:latest

          docker stop aihkt-fe || true
          docker rm aihkt-fe || true

          docker run -d --name aihkt-fe -p 80:80 ${{ secrets.DOCKER_USERNAME }}/aihkt-fe:latest

          SSH_EOF

